@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,400i,600,700&display=swap');

*{
	margin: 0;
	padding: 0;
	
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}

body{
    font-family: 'Poppins', sans-serif;
	margin: 70px;
	

}

img{

}

li{
  list-style: none;
}

/*header*/


.header{

}

.row{

display: flex;

flex-wrap: wrap;
}

.logo{

max-width: 25%;

flex-basis: 25%;
}

.logo img{

}

nav{

max-width: 60%;

flex-basis: 60%;
}

nav ul{

display: flex;

flex-wrap: wrap;
}

nav ul li{

}

nav ul li a{

color: #303A5E;

font-size: 15px;

text-transform: capitalize;

display: block;

padding: 25px;

letter-spacing: .9px;

font-weight: 600;

text-decoration: none;
}

nav ul li a:hover{
      color: #fd3b1b;
}







.button{
	 max-width: 15%;
    flex-basis: 15%;

}

.button a{
	   background-color: #fd675c;
    color: #fff;
    font-size: 15px;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
    padding: 15px 10px;
}

a:hover{
	color: #fd3b1b;

	


}

/*blog*/
.blog{

}

.container{
      margin-top: 45px;
}

.col-blog{
	max-width: 50%;
	flex-basis: 50%;

}

.col-blog h1{
font-size: 55px;
    line-height: 1.3;
}
.col-blog p{
          color: #A2A4BB;
    margin-top: 35px;
    margin-bottom: 25px;
    font-size: 20px;
}

.col-img{
	max-width: 50%;
	flex-basis: 50%;

}

.col-blog a{
	    font-size: 35px;

}

/*demo*/

.demo{
    text-align: center;
    margin-top: 130px;
}



.demo h2{
  font-size: 35px;
}

.demo h5{
	font-size: 15px;
    font-style: italic;
    font-weight: 100;
    color: #A2A4BB;
    letter-spacing: .3px;

}

/*row-img*/

.second-blog{
	margin-top: 40px;
}

.col-pictures{
	display: flex;
    flex-wrap: wrap;
}

.classical{
	max-width: 25%;
flex-basis: 25%;
padding: 10px;

}
.shop{
	max-width: 25%;
flex-basis: 25%;
padding: 10px;
}
.dark{
max-width: 25%;
flex-basis: 25%;
padding: 10px;
}

.minimal{
   max-width: 25%;
flex-basis: 25%;
padding: 10px;
}

.features{
      text-align: center;
    margin-top: 80px;

}

.features h2{
  font-size: 35px;

}

.features h5{
  font-size: 15px;
    font-style: italic;
    font-weight: 100;
    color: #A2A4BB;
    letter-spacing: .3px;


}

.box-section{}

.col-customized{
  max-width: 30%;
    flex-basis: 30%;
    background-color: #EFEFEF;
    text-align: center;
    padding-bottom: 40px;
    margin: 15px;
}
.col-customized a{
      font-size: 30px;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 70%;

}

.col-customized h3{
  font-size: 20px;
    margin-top: 25px;

}

.col-customized p{
  font-size: 15px;
    color: #9A9C9C;
    margin-bottom: 35px;
}

.col-simple{
  max-width: 30%;
    flex-basis: 30%;
    background-color: #EFEFEF;
    text-align: center;
    padding-bottom: 40px;
    margin: 15px;
}
.col-simple a{
      font-size: 30px;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 70%;

}

.col-simple h3{
  font-size: 20px;
    margin-top: 25px;

}

.col-simple p{
  font-size: 15px;
    color: #9A9C9C;
    margin-bottom: 35px;
}

.col-membership{
  max-width: 30%;
    flex-basis: 30%;
    background-color: #EFEFEF;
    text-align: center;
    padding-bottom: 40px;
    margin: 15px;
}
.col-membership a{
      font-size: 30px;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 70%;

}

.col-membership h3{
  font-size: 20px;
    margin-top: 25px;

}

.col-membership p{
  font-size: 15px;
    color: #9A9C9C;
    margin-bottom: 35px;
}

.col-digital{
  max-width: 30%;
    flex-basis: 30%;
    background-color: #EFEFEF;
    text-align: center;
    padding-bottom: 40px;
    margin: 15px;
}
.col-digital a{
      font-size: 30px;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 70%;

}

.col-digital h3{
  font-size: 20px;
    margin-top: 25px;

}

.col-digital p{
  font-size: 15px;
    color: #9A9C9C;
    margin-bottom: 35px;
}

.col-posts{
  max-width: 30%;
    flex-basis: 30%;
    background-color: #EFEFEF;
    text-align: center;
    padding-bottom: 40px;
    margin: 15px;
}
.col-posts a{
      font-size: 30px;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 70%;

}

.col-posts h3{
  font-size: 20px;
    margin-top: 25px;

}

.col-posts p{
  font-size: 15px;
    color: #9A9C9C;
    margin-bottom: 35px;
}

.col-responsive{
  max-width: 30%;
    flex-basis: 30%;
    background-color: #EFEFEF;
    text-align: center;
    padding-bottom: 40px;
    margin: 15px;
}
.col-responsive a{
      font-size: 30px;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 70%;

}

.col-responsive h3{
  font-size: 20px;
    margin-top: 25px;

}

.col-responsive p{
  font-size: 15px;
    color: #9A9C9C;
    margin-bottom: 35px;
}

footer{
  margin-top: 60px;
    background-color: #292640;
    height: 500px;
}



footer h1{
  color: #FFFFFF;
    font-size: 55px;
    padding-top: 155px;
    text-align: center;
    font-weight: bold;
}

.footer-button{
  text-align: center;
    padding: 35px;
}


.footer-button a{
   background-color: #fd675c;
    color: #fff;
    font-size: 18px;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
    padding: 10px 7px;
    margin-top: 20px;
}

.footer-button a:hover{
  color: #fd3b1b;
}

.footer-img{
  text-align: center;
}

.image-menu{}

.image-menu .container{
  margin-top: 0;
}

.col-classic{

    max-width: 25%;
    flex-basis: 25%;
    text-align: center;

}

.col-classic a{
      max-width: 25%;
    flex-basis: 25%;
  
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
}

.col-shop{

    max-width: 25%;
    flex-basis: 25%;
    text-align: center;

}

.col-shop a{
      max-width: 25%;
    flex-basis: 25%;
  
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
}

.col-dark{

    max-width: 25%;
    flex-basis: 25%;
    text-align: center;

}

.col-dark a{
      max-width: 25%;
    flex-basis: 25%;
 
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
}

.col-minimal{

    max-width: 25%;
    flex-basis: 25%;
    text-align: center;
}

.col-minimal a{
      max-width: 25%;
    flex-basis: 25%;
   
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
}